@use '../abstracts/colors' as *;

@mixin input-base {
  padding: 0.875rem 1.25rem;
  border: 1px solid $gray-300;
  border-radius: 0.5rem;
  font-size: 0.95rem;
  background: $blanco;
  color: $negro-cib;
  transition: all 0.3s ease;

  &::placeholder {
    color: $gray-500;
  }

  &:focus {
    outline: none;
    border-color: $macondo;
    box-shadow: 0 0 0 3px rgba($macondo, 0.15);
  }
}