@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/variables' as *;

.sidebar {
  width: $sidebar-width;
  height: 100vh;

  background: $background-sidebar;
  color: $blanco;

  display: flex;
  flex-direction: column;
}

.sidebar__logo {
  padding: $space-24;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  border-left: 4px solid $amarillo-macondo;
  color: $amarillo-macondo;
}

.sidebar__menu {
  padding: $space-16;
  display: flex;
  flex-direction: column;
  gap: $space-8;
}

.menu-item {
  padding: $space-12 $space-16;
  border-radius: $radius-sm;
  color: $blanco;

  font-size: $font-size-md;
  font-weight: $font-weight-medium;

  cursor: pointer;
}

.menu-item:hover {
  color: $amarillo-macondo;
}

.active {
  background: $sidebar-active-bg;
  color: $sidebar-active-text;
  font-weight: $font-weight-semibold;
}

.sidebar__user {
  margin-top: auto;

  padding: $space-16;

  display: flex;
  align-items: center;
  gap: $space-12;

  border-top: 1px solid rgba(255, 255, 255, 0.08);

  color: $blanco;
  text-decoration: none;
  cursor: pointer;
}

.sidebar__user.active {
  background: rgba(253, 218, 36, 0.16);
  box-shadow: inset 4px 0 0 $rosa-flamenco;
}

.avatar {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  background: $amarillo-macondo;
  color: $negro-cib;

  border: 2px solid $violeta-orquidea;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: $font-weight-bold;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info small {
  color: $rosa-flamenco;
}
