<aside class="sidebar">

  <div class="sidebar__logo">
    Portal
  </div>

  <nav class="sidebar__menu">

    <a
      class="menu-item"
      routerLink="/contactos"
      routerLinkActive="active"
    >
      Contactos
    </a>

    <a
      class="menu-item"
      routerLink="/standby"
      routerLinkActive="active"
    >
      Standby
    </a>
    

    <a
      class="menu-item"
      routerLink="/mantenimiento"
      routerLinkActive="active"
    >
      Ventana 
    </a>

    <a class="menu-item">
      Alertas
    </a>

  </nav>

  <a
    class="sidebar__user"
    routerLink="/perfil"
    routerLinkActive="active"
  >

    <div class="avatar">
      AM
    </div>

    <div class="user-info">
      <span>Ana Morales</span>
      <small>admin@empresa.com</small>
    </div>

  </a>

</aside>