@use '../abstracts/colors' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: $background-body;
  color: $text-primary;
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}