@use 'abstracts/colors' as *;
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;


.mantenimiento-page {
  padding: $space-32;
}

.page-header {
  @include flex-between;

  margin-bottom: $space-32;
}

.page-info {
  display: flex;
  flex-direction: column;
  gap: $space-8;
}

.page-info p {
  color: $text-secondary;
}

.btn-primary {
  @include button-primary;
}

.maintenance-form {
  @include card;

  position: relative;

  padding: $space-32;

  overflow: hidden;
}



.form-section {
  margin-bottom: $space-40;
}

.section-title {
  margin-bottom: $space-20;
}

.section-title h2 {
  margin-top: $space-8;
}

.section-badge {
  @include badge;

  background: $amarillo-macondo;
  color: $text-primary;
}

.section-badge.purple {
  background: $violeta-orquidea;
  color: $blanco;
}

.section-badge.pink {
  background: $rosa-flamenco;
  color: $text-primary;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: $space-20;
}

.filters-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: $space-16;

  margin: $space-20 0;
}

.field {
  display: flex;
  flex-direction: column;

  gap: $space-8;

  margin-bottom: $space-20;
}

.field label {
  @include text-label;
}

.field input,
.field select {
  @include input-base;

  width: 100%;
}

.field small,
.help-text {
  color: $text-secondary;
}

.btn-secondary {
  @include button-secondary;
}
 

.filters-grid select,
.filters-grid input {
  @include input-base;

  width: 100%;
}

.impact-panel {
  padding: $space-20;

  border-radius: $radius-md;

  background: rgba(89, 203, 235, 0.08);

  border: 1px solid $azul-caribe;
}

.header-actions {
  display: flex;
  align-items: center;

  gap: $space-12;
}

.btn-save {
  @include button-base;

  background: $verde-andino;

  color: $blanco;
}

.btn-save:hover {
  filter: brightness(.95);
}

.modal-backdrop {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, .45);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2000;
}

.modal-container {
  width: 800px;
  max-width: 90vw;

  background: $surface;

  border-radius: $radius-md;

  overflow: hidden;

  box-shadow: $shadow-lg;
}

.modal-header-popup {
  @include flex-between;

  padding: $space-24;

  background: $negro-cib;

  color: $blanco;
}

.modal-body-popup {
  padding: $space-24;
}

.window-card {
  @include card;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: $space-16;

  margin-bottom: $space-12;

  border: 1px solid $border-light;
}