<div class="calendar-wrapper">

  <div class="calendar-header">

    <button
      class="calendar-nav"
      (click)="previousMonth()"
    >
      ‹
    </button>

    <h3>
      {{ monthLabel }}
    </h3>

    <button
      class="calendar-nav"
      (click)="nextMonth()"
    >
      ›
    </button>

  </div>

  <div class="weekdays">

    @for (
      day of weekDays;
      track day
    ) {

      <div>
        {{ day }}
      </div>

    }

  </div>

  <div class="days-grid">

    @for (
      day of days;
      track $index
    ) {

      @if (day.currentMonth) {

        <div
          class="calendar-day"
          [class.disabled]="!enabled || !day.isFriday"
          [class.friday]="day.isFriday && enabled"
          [class.selected]="isSelected(day)"
          (click)="selectDate(day)"
        >

          {{ day.dayNumber }}

        </div>

      } @else {

        <div class="empty-day"></div>

      }

    }

  </div>

</div>
